{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.css' %}" />
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.js' %}"></script>    
{% endblock %}


{% block javascript_list %}
    <script src="{% static 'asistencia/marcacion_detalle/js/list.js' %}"></script>    
{% endblock %}

{% block columns %}
    <th style="width: 5%;">ID</th>
    <th style="width: 25%;">Marcacion</th> 
    <th style="width: 25%;">Reloj</th> 
    <th style="width: 10%;">Cod</th>
    <th style="width: 5%;">Fecha</th>
    <th style="width: 5%;">Hora</th>
    <th style="width: 5%;">Tipo</th>
    <th style="width: 10%;" class="text-center">Opciones</th>
{% endblock %}

{% block content_list_before %}
<input type="hidden" name="sucursal_id" id="action" value="{{ sucursal }}">
<div class="row">    

    <div class="col-lg-3">
        <div class="form-group">
            <label>Sucursal </label>
            <div class="input-group mb-3">
                {{ form.sucursal }}                
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Buscar Legajo </label>
            <div class="input-group mb-3">
                {{ form.term }}                
            </div>
        </div>
    </div>
    
    <div class="col-lg-6">
        <div class="form-group">
            <label>Rangos de fechas:</label>
            <div class="input-group mb-3">
                {{ form.date_range }}
                <div class="input-group-append">
                    <button class="btn btn-warning btnFilter" type="button">
                        <i class="fas fa-search"></i> Filtrar
                    </button>
                    <button class="btn btn-success btnSearchAll" type="button">
                        <i class="fab fa-searchengin"></i> Ver todos
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
    <hr>
{% endblock %}